# tell direnv to use your existing .venv
source .venv/bin/activate

export DATABRICKS_SPACE_ID="01f063fc4eee1bd5bcaf30d894b1d8f0"
export DATABRICKS_HOST="https://adb-7004818162357337.17.azuredatabricks.net/"
export MicrosoftAppId="377f4ccd-e32a-4aba-bc12-2e5fade90b1f"

source .envrc.local
