# tell direnv to use your existing .venv
source .venv/bin/activate

export DATABRICKS_SPACE_ID="01f0581a4f20157ba94d7bf7b960b75c?o=7004818162357337"
export DATABRICKS_HOST="https://adb-7004818162357337.17.azuredatabricks.net/"
export MicrosoftAppId="377f4ccd-e32a-4aba-bc12-2e5fade90b1f"

source .envrc.local
